@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Iceland&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-family: 'Iceland', cursive;
    font-size: .8vw;
    user-select: none;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
    --MainColor: rgba(255, 0, 0, 0.366);
}
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    /* background: #FFF; */
  }
  /* ============= Animation background ========= */
  .background {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    z-index: 9999;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  /* UI START*/


  .leftside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    display: block;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 50px var(--MainColor);
    z-index: 9999;
    border-right: 3px solid var(--MainColor);
}
.lefttitle h1{
    position: relative;
    top: 0;
    left: 2.5%;
    bottom: 0;
    text-align: center;
    width: 15%;
    margin-top: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-transform: uppercase;
    z-index: 10000;
    border: 1px solid var(--MainColor);
    color: rgb(62, 62, 62);
    transition: 0.3s ease-out;
}
.lefttitle h1:hover{
    background-color: var(--MainColor);
    cursor: pointer;
    color: #FFF;
  }
  
  .lefttitle h1.active{
    background-color: var(--MainColor);
    text-shadow: 0 0 3px white;
    box-shadow: 0 0 35px var(--MainColor);
    color: #fff;
    letter-spacing: 5px;
    
  }
  
.rightside{
    position: absolute;
    top: 0;
    left: 20%;
    bottom: 0;
    width: 100%;
    display: block;
    background-image: linear-gradient(to right, #43434300 0%, var(--MainColor) 100%);
}
.Logo {
    position: relative;
    top: 0%;
    left: 0%;
    width: 20vw;
    height: 13vw;
    z-index: 100000;
  }
  
  .Logo img {
    position: absolute;
    width: 80%;
    height: auto;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

.rightsideinfo{
    position: absolute;
    top: 0;
    left: 22%;
    bottom: 0;
    width: 100%;
    display: block;
}

.rightsideinfo h3{
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 10px;
  border-right: 3px solid var(--MainColor);
  border-top: 3px solid var(--MainColor);
  border-bottom: 3px solid var(--MainColor);
  width: 100;
  margin-top: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  z-index: 10000;
  color: white;
  text-shadow: .0vw .0vw .5vw black;
}

.footer{
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    display: block;
  }
  
  .lefttitle h2{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 20%;
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--MainColor);
    z-index: 10000;
  }

  .discord h3{
    position: relative;
    padding-top: 5vh;
    top: 0;
    left: 2.5%;
    bottom: 0;
    text-align: center;
    width: 15%;
    margin-top: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-transform: uppercase;
    z-index: 10000;
    border: 1px solid var(--MainColor);
    color: rgb(62, 62, 62);
    transition: 0.3s ease-out;
}

.discord h3:hover{
    background-color: var(--MainColor);
    cursor: pointer;
    color: #FFF;
}

  .rightsidejobsmoney{
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
    display: block;
    text-align: right;
}

.rightsidejobsmoney h1{
    position: relative;
    top: 0;
    left: 82.5%;
    bottom: 0;
    text-align: left;
    padding-left: 1vh;
    width: 15%;
    font-size: 1vw;
    margin-top: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-transform: uppercase;
    z-index: 10000;
    border: 1px solid var(--MainColor);
    color: white;
    text-shadow: .0vw .0vw .5vw black;
}
.rightsidejobsmoney h2{
    position: relative;
    text-decoration: underline;
    top: 0;
    left: 82.5%;
    bottom: 0;
    text-align: left;
    font-size: 3vh;
    text-transform: uppercase;
    z-index: 10000;
    color: white;
}

.rightsideonlinejob{
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    display: block;
    text-align: right;
    overflow-y: auto;
    height: 20vw;
    /* background-color: red; */
}

.rightsideonlinejob h1{
    position: relative;
    top: 0;
    left: 82.5%;
    bottom: 0;
    text-align: left;
    padding-left: 1vh;
    width: 15%;
    margin-top: 1vh;
    padding-top: 2vh;
    font-size: 1vw;
    padding-bottom: 2vh;
    text-transform: uppercase;
    z-index: 10000;
    border: 1px solid var(--MainColor);
    color: white;
    text-shadow: .0vw .0vw .5vw black;
}
.rightsideonlinejob h2{
    position: relative;
    text-decoration: underline;
    top: 0;
    left: 82.5%;
    bottom: 0;
    text-align: left;
    font-size: 3vh;
    text-transform: uppercase;
    z-index: 10000;
    color: white;
}

#onlinejobspe {
  position: relative;
  text-decoration: underline;
  top: -13vw;
  left: 82.5%;
  bottom: 0;
  text-align: left;
  font-size: 3vh;
  text-transform: uppercase;
  z-index: 10000;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.4vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d8d8d83a;

  border-radius: 0.5vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;

  border-radius: 0.5vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;

  border-radius: 0.5vw;
}

.ChangeColor {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  width: 17vw;
  height: 4vw;
  border: 1px solid var(--MainColor);
  color: white;
  text-shadow: .0vw .0vw .5vw black;
}

.ChangeColor h1 {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.2vw;
  padding: .3vw;
}

input[type="color"] {
  position: relative;
	-webkit-appearance: none;
	border: none;
  width: 6vw;
  height: 2vw;
  left: 1vw;
  top: .2vw;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}