@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,800&display=swap');

.notify-wrapper {
    position: absolute;
    right: 0vh;
    top: 0vh;
    margin-right: 2vh;
    font-size: 1.8vh;
    font-family: 'Montserrat', sans-serif;
}

.notify-div{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 2vh;
    width: 44vh;
    min-height: 8vh;

    background: linear-gradient(93.25deg, #4F4F4F 0%, #0C0C0C 100%);
    border-left: 0.44vh solid #FFCB11;
    box-shadow: 0vh 0.8vh 0.7 -0.2vh rgba(0, 0, 0, 0.35);
    border-radius: 1.34vh;
}

.notify-icon-box{
    box-sizing: border-box;
    padding: 1.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
    box-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.47);
    border-radius: 0.8vh;
    transform: rotate(-45deg);
}

.notify-icon-box i{
    transform: rotate(45deg);
    font-size: 2.3vh;
}

.notify-text-box{
    margin-left: 2.5vh;
    align-self: baseline;
}