#default {
    background-color: rgba(0, 0, 0, 0.445);
    border: gray 0.1vw solid;
}

#info {
    background: radial-gradient(40vh circle at 0 -60%,#02021b,#00000000);
    border: darkblue 0.1vw solid;
}

#success {
    background: radial-gradient(40vh circle at 0 -60%,#041b02,#00000000);
    border: green 0.1vw solid;
}

#error {
    background: radial-gradient(40vh circle at 0 -60%,#1b0202,#00000000);
    border: darkred 0.1vw solid;
}

#warning {
    background: radial-gradient(40vh circle at 0 -60%,#1b1002,#00000000);
    border: darkorange 0.1vw solid;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: block;
    position: absolute;
    left: 1.5vw;
    width: 15%;
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
}

.mapOff {
    bottom: 2vw;
}

.mapOn {
    bottom: 12vw;
}

.notify {
    position: relative;
    padding: .6vw;
    margin-top: 1vw;
    max-width: 100%;
    border-radius: .5vw;
    animation: fadeIn .5s ease 0s 1 normal forwards;
    box-shadow: 0 0 5px black;
}

.notify p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: .7vw;
    font-weight: 500;
    color: white;
    padding-left: .2vw;
    text-align: left;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}